body {
    margin: 0;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
}

.testo {
    text-align: center;
    font-family: cursive;
    font-size: 15px;
    color: blue;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    animation: spin 5s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg) translate(50px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translate(50px) rotate(-360deg);
    }
}

#swordmc {
    position: absolute;
    text-align: center;
    opacity: 100;
    font-size: 5em;
    margin-bottom: 500px;
    width: 50%;
    size: 10px;
}

.home {
    color: red;
    font-family: impact;
    font-family: verdana;
}

.Benvenuto {
    text-align: center;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 150px;
    color: red;
}

.Benvenuto1 {
    position: absolute;
    text-align: center;
    opacity: 100;
    width: 50%;
    color: red;
}

/* From Uiverse.io by satyamchaudharydev */ 
.loader {
    display: block;
    --height-of-loader: 4px;
    --loader-color: #0071e2;
    width: 130px;
    height: var(--height-of-loader);
    border-radius: 30px;
    background-color: rgba(0,0,0,0.2);
    position: relative;
  }
  
  .loader::before {
    content: "";
    position: absolute;
    background: var(--loader-color);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: moving 1s ease-in-out infinite;
    ;
  }
  
  @keyframes moving {
    50% {
      width: 100%;
    }
  
    100% {
      width: 0;
      right: 0;
      left: unset;
    }
  }